* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
}

body {
  background-color: whitesmoke;
}

#hero-page {
  background: linear-gradient(to top, #b9c1cb, #4a8ad3);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mail {
  margin-left: auto;
  height: 50px;
  width: 50px;
  padding: 10px;
}

#hero-container {
  font-size: 2rem;
  gap: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* border: 1px black solid; */
  padding: 5px;
}

#underline {
  white-space: nowrap;
  text-decoration: underline;
}

#hero-image {
  /* height: 250px;
  width: 250px; */
  /* border: 1px black solid; */
  padding: 5px;
  max-width: 40%;
}

#social-links {
  background-color: #a5b4c4;
  width: 150px;
  border-radius: 0px 15px 15px 0px;
  border: 2px solid black;
  padding: 5px;
  display: flex;
}

.social-icon {
  margin: auto;
  width: 40px;
}

#linkedin-img {
  /* border: 1px solid black; */
  padding: 5px;
}

#github-img {
  /* border: 1px solid black; */
  padding: 5px;
}

#nav-page {
  font-size: 3rem;
  text-align: center;
  /* height: 45vh; */
  /* display: flex;
  justify-content: center; */
}

#nav-main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 30px;
  flex-wrap: wrap;
  /* gap: 200px; */
}

#nav-box {
  text-align: center;
}

#nav-pic {
  margin-right: auto;
  width: 200px;
  height: 200px;
  padding: 10px;
}

#nav-text {
  border: 1px black solid;
  padding: 10px;
}

#about-page {
  /* height: 99vh; */
}

#aboutpage-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  font-size: 1.4rem;
  gap: 5vw;
}

#abouthead-text {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
  text-decoration: underline;
}

#about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 500px; */
  max-width: 600px;
}

#about-img {
  max-width: 40%;
  object-fit: contain;
}

#experience-head {
  font-size: 2rem;
  text-decoration: underline;
}

#experience-page {
  gap: 30px;
  display: flex;
  justify-content: center;
  /* height: 30vh; */
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#experience-container {
  display: flex;
  /* min-width: 700px; */
  /* justify-content: space-between; */
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#experience-container > div {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* width: 45%; */
}

.experience-img {
  width: 100px;
  height: 100px;
}

#projects {
  text-align: center;
  /* height: 50vh; */
}

#project-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 4rem;
}

#project-1 {
  /* height: 250px; */
  /* max-width: 80%; */
  width: 300px;
}

#project-svg-container {
  display: flex;
  justify-content: space-around;
}

.project-github-svg {
  filter: invert();
  width: 25px;
  height: 25px;
}

.project-pages-svg {
  filter: invert();
  width: 25px;
  height: 25px;
}

#svg-text {
  text-align: center;
}

#contact {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#contact-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 1.5rem;
  gap: 10px;
}

.dark-sec {
  background-color: #415a77;
}

.light-sec {
  background-color: #778da9;
}

@media (max-width: 768px) {
  #aboutpage-main {
    flex-direction: column-reverse;
  }
  #abouthead-text {
  }
  #hero-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* @media (max-width: 768px) {
  #nav-page {
    height: 50vh;
  }
  #project-container {
    flex-direction: column;
    align-items: center;
  }
  #projects {
    height: 150vh;
  }
  #experience-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #experience-page {
    height: 70vh;
  }
} */
